body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel{
    max-height: 80vh;
    overflow: hidden;
}