
{% extends 'base.html' %}
{% block title %}
<title>{{ article[3] }} - {{ category_name }}</title>  
{% endblock title %}

{% block content %}
<main class="container my-5">
    <h1 class="mt-5">{{ article[3] }}</h1>  
    <div class="row">
        <div class="col-12 col-md-8 col-xl-9">
            {% if article[6] %}  
                <img src="{{ url_for('static', filename='Photos/' + article[6]) }}" class="img-fluid shadow" alt="Зображення статті">
            {% endif %}
            <p class="mt-3">{{ article[4] }}</p>  
            <p class="">{{ article[5] }}</p> 
            <small>Опубліковано: {{ article[7] }}</small> 
        </div>
        <div class="col-12 col-md-4 col-xl-3">
      
        </div>
    </div>
</main>
{% endblock content %}